.haut-de-page{
    text-align: center;
}

#header1{
    padding-top: 1em;
}

header{
    background-color: rgb(11, 108, 187);
    height: 22em;
    width: 99.8%;
    border-style: solid;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.6em;
}

.photo{
    height: 45%;
    width: 10%;
    position: relative;
    left: 45%;
    border-radius: 50%;
}

.bandeau{
    display: flex;
    align-items: flex-start;
    background-color: navy;
    border-radius: 0em 4em 20em 0em;
    height: 5em;
    font-family: Arial, sans-serif;
}

#barre {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

#lien {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

li a:hover {
    background-color: rgb(0, 119, 255);
}

.about{
    list-style-type: none;
    position: relative;
    font-family: Arial, sans-serif;
    left: 5%;
}

#parcours, #expertise, #expériences
{
    font-size: 1.6em;
    text-align: justify;
    padding-right: 30%;
}

.info{
    font-family: Arial, sans-serif;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
}
  
.flex-container > div {
    background-color: #4d4d4d;
    width: 200px;
    height: 200px;
    margin: 50px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: rgb(11, 108, 187);
    font-family: Arial, sans-serif;
}

#travail {
    transition: width 2s, height 4s;
}

#travail:hover {
    width: 500px;
    height: 500px;
}

footer{
    font-family: Arial, sans-serif;
    font-size: 3em;
    background-color: rgb(11, 108, 187);
    height: 5em;
    width: 99.8%;
    padding-top: 3%;
    text-align: center;
}